@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;   
    text-align: center;
    align-content: center;
    color: white;    
}

.home-page-container .navbar {
    width: 68%;
    display: flex;
    justify-content: space-between;
}

.home-page-container .navbar .nav_button  {
    background: none;
    margin: 0;
    padding: 0;
}

/* Botones */

.navbar_ul {
    display: flex;
    color: #a01313;
    flex-direction: row;
}

.navbar-info {
    display: flex;
    color: #a01313;
    flex-direction: row;
}

.navbar_ul li:not(:first-child) {
    margin-left: 80px;
}

.navbar_button a {
    text-decoration: none;
    margin-left: .5rem;
}

.navbar_button {
    padding-left: 35px;
    padding-right: 1rem;
    border: none;
    background-color: #ffffff00;
    border-radius: .2rem;
    min-width: 5rem;
    min-height: 35px;
    width: max-content;
    list-style: none;
    background-size: 1.4rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: .8rem;
    border: 1px solid #ffffff00;
}

.navbar_button:hover {
    background-color: #3d3d3daf;
    border: 1px solid white;
    border-radius: 2rem;
    cursor: pointer;
}

.div_alert_info {
    text-align: left;
}

.alert_info {
    color: rgb(0, 225, 255);
}

.eliminar_info {
    color: red;
}

.enviar_info {
    color: greenyellow;
}

.buscar_info {
    color: #6097ff;
}

/*Botón GUARDAR*/

#save_btn { 
    background-image: url(../assets/img/floppy-disk-solid.svg);
}

#save_btn:hover { 
    background-image: url(../assets/img/floppy-disk-solid-hover.svg);
}

/*Botón BUSCAR*/

#search_btn { 
    background-image: url(../assets/img/database-solid.svg);
}

#search_btn:hover { 
    background-image: url(../assets/img/database-solid-hover.svg);
}

/*Botón ELIMINAR*/

#clear_btn { 
    background-image: url(../assets/img/trash-solid.svg);
}

/*Botón para vaciar campos*/

#clear_btn:hover { 
    background-image: url(../assets/img/trash-solid-hover.svg);
}

/*Boton para vaciar inputs*/

#clean_inputs {
    padding-bottom: .7rem;
    margin-right: 2rem;
    margin-left: .5rem;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff00;
    border-style: none;
    background-image: url(../assets/img/broom-solid.svg);
    background-repeat: no-repeat;
}

#clean_inputs:hover {
    background-image: url(../assets/img/broom-solid-hover.svg);
    cursor: pointer;
}

/*Botón para vaciar vista de tablas*/

#clean_view {
    padding-bottom: .7rem;
    margin-right: 1rem;
    margin-left: .5rem;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff00;
    border-style: none;
    background-image: url(../assets/img/delete-left-solid.svg);
    background-repeat: no-repeat;
}

#clean_view:hover {
    background-image: url(../assets/img/delete-left-solid-hover.svg);
    cursor: pointer;
}

/*Botón para ver datos en array dates*/

#view_dates_array {
    padding-bottom: .8rem;
    margin-right: 1.5rem;
    width: 2rem;
    height: 2rem;
    background-color: #ffffff00;
    border-style: none;
    background-image: url(../assets/img/eye-regular.svg);
    background-repeat: no-repeat;
    background-size: 1.6rem;
}

#view_dates_array:hover {
    background-image: url(../assets/img/eye-regular-hover.svg);
    cursor: pointer;
}

/*Botón INFO*/
#info_btn {
    margin: 0;
    padding: 0;
    background-color: #ffffff00;
    width: 2.5rem;
    border-style: none;
    background-image: url(../assets/img/circle-question-solid.svg);
    background-repeat: no-repeat;
    background-size: 1.6rem;
}

#info_btn:hover {
    background-image: url(../assets/img/circle-question-solid-hover.svg);
}   

/*Botón tabla de EJEMPLO*/
#example_btn {
    margin: 0;
    padding: 0;
    background-color: #ffffff00;
    width: 2.5rem;
    border-style: none;

    background-repeat: no-repeat;
    background-size: 1.6rem;
}

#example_btn a:hover {
    color: orange;
    font-weight: bold;
}   

.alert_span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    color: rgb(255, 0, 34);
}

.home-page-container {
    background: linear-gradient(to top, #000000be, #000000be), url(../assets/img/background.jpg);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-color: #050113;
    min-height: 100%;
    height: max-content;
    padding-top: 1rem;
    min-width: 99.1vw;
    min-height: 98.3vh;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

form {
    background-color: #6a6767;
    border-radius: .5rem;
    padding-left: 1.1rem;
    margin: 1rem;
}

label {
    height: 2rem;
    background: none;
}

input {
    height: 2rem;
    margin: 1rem;
    background-color: #030f25;
}

.dato_personal {
    width: 7rem;
}

.btn_enviar {
    width: 7rem;
    height: 2.1rem;
    border-radius: .5rem;
    background-color: green;
    cursor: pointer;
}

.btn_enviar:hover {
    background-color: #a01313;
}

.home-page-container .fecha .encabezado {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: #888888;
    justify-content: center;
    border-radius: .2rem;
}

.home-page-container .fecha .encabezado .header_object {
    background-color: #1b113d;
    padding: .3rem;
    border: 1px solid grey;
    width: 25%;
    height: auto;
}

.home-page-container .fecha {
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: #00000000;
    justify-content: center;
    border-radius: .5rem;
    margin: 1rem;
}

.home-page-container .fecha .ejemplos_H2 {
    background-color: #222222;
    color: orange;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.home-page-container .fecha .elementos_insertados {
    background-color: #222222;
    color: greenyellow;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.home-page-container .fecha .elementos_almacenados {
    background-color: #222222;
    color: #6097ff;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.home-page-container #form_fechas .dato_personal {
    border-radius: .5rem;
}

.home-page-container #form_fechas .input_fecha {
    border-radius: .5rem;
}

.home-page-container #form_fechas .cantidad {
    border-radius: .5rem;
    width: 4rem;
}

.home-page-container .fecha .contenedor_objeto {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: #888888;
    justify-content: center;
    border-radius: .2rem;
}

.home-page-container .fecha .contenedor_objeto .item_object {
    padding: .5rem;
    border: 1px solid grey;
    width: 25%;
    height: auto;
}

.home-page-container .fecha .contenedor_objeto .pair {
    background-color: #222222;
}

.home-page-container .fecha .contenedor_objeto .odds {
    background-color: #363636;
}