@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;   
    text-align: center;
    align-content: center;
    color: white;    
}


.home-page-container .navbar {
    width: 58%;
    display: flex;
    justify-content: space-between;
}

.home-page-container .navbar .nav_button  {
    background: none;
    margin: 0;
    padding: 0;
}

/* Boton GUARDAR */
#save_btn { 
    background-image: url(../assets/img/floppy-disk-solid.svg);
    background-color: #ffffff00;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 30px;
    height: 30px;
}

#save_btn:hover { 
    background-image: url(../assets/img/floppy-disk-solid-hover.svg);
}

/* Boton MOSTRAR LOCAL STORAGE */
#search_btn { 
    background-image: url(../assets/img/searchengin.svg);
    background-color: #ffffff00;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 45px;
    height: 45px;
}

#search_btn:hover { 
    background-image: url(../assets/img/searchengin-hover.svg);
}

/* Boton BORRAR LOCAL STORAGE */
#clear_btn { 
    background-image: url(../assets/img/trash-solid.svg);
    background-color: #ffffff00;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    width: 30px;
    height: 30px;
}

#clear_btn:hover { 
    background-image: url(../assets/img/trash-solid-hover.svg);
}

.alert_span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: x-large;
    color: rgb(255, 0, 34);
}

.home-page-container {
    background: linear-gradient(to top, #00000081, #00000094), url(../assets/img/background.jpg);
    background-size:cover ;
    background-color: #050113;
    min-height: 100vh;
    height: max-content;
    width: 100vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}

form {
    background-color: #6a6767;
    border-radius: .5rem;
    padding-left: 1.1rem;
    margin: 1rem;
}

label {
    height: 2rem;
    background: none;
}

input {
    height: 2rem;
    margin: 1rem;
    background-color: #030f25;
}

.dato_personal {
    width: 7rem;
}

.btn_enviar {
    width: 7rem;
    height: 2.1rem;
    border-radius: .5rem;
    background-color: green;
}

.btn_enviar:hover {
    background-color: #a01313;
}

.home-page-container .fecha .encabezado {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: #888888;
    justify-content: center;
    border-radius: .2rem;
}

.home-page-container .fecha .encabezado .header_object {
    background-color: #1b113d;
    padding: .3rem;
    border: 1px solid grey;
    width: 25%;
    height: auto;
}

.home-page-container .fecha {
    display: flex;
    width: 70%;
    flex-direction: column;
    background-color: #3d3d3d;
    justify-content: center;
    border-radius: .5rem;
    margin: 1rem;
}

.home-page-container #form_fechas .dato_personal {
    border-radius: .5rem;
}

.home-page-container #form_fechas .input_fecha {
    border-radius: .5rem;
}

.home-page-container #form_fechas .cantidad {
    border-radius: .5rem;
    width: 4rem;
}

.home-page-container .fecha .contenedor_objeto {
    width: auto;
    display: flex;
    flex-direction: row;
    background-color: #888888;
    justify-content: center;
    border-radius: .2rem;
}

.home-page-container .fecha .contenedor_objeto .item_object {
    padding: .5rem;
    border: 1px solid grey;
    width: 25%;
    height: auto;
}

.home-page-container .fecha .contenedor_objeto .pair {
    background-color: #222222;
}

.home-page-container .fecha .contenedor_objeto .odds {
    background-color: #363636;
}